{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 120
}